aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram==2.0.16
requests
tgcrypto
https://github.com/Naysabots/yt-dlp/archive/refs/tags/2022.04.08.zip
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod
ffmpeg-python==0.2.0
